<div class="container">
    <div class="input-containers">
        <div class="input-container">
            <input [(ngModel)]="gitHubName1ProvidedByUser" placeholder="Enter GitHub username 1">
            <button class="input-button" (click)="getUserData(1)">Submit</button>
        </div>
        <div class="input-container">
            <input [(ngModel)]="gitHubName2ProvidedByUser" placeholder="Enter GitHub username 2">
            <button class="input-button" (click)="getUserData(2)">Submit</button>
        </div>
    </div>
    <div class="compare-button">
        <button *ngIf="user1CreatedFromGitHubInfoService && user2CreatedFromGitHubInfoService"
            (click)="compare()">Compare</button>
    </div>
    <h2 class="winnerh2" *ngIf="winner && winner!='DRAW'">Winner: {{ winner }}</h2>
    <h2 class="drawh2" *ngIf="winner=='DRAW'">{{ winner }}</h2>
    <div *ngIf="anyUserCreated" class="user-container">
        <div class="user-info left" *ngIf="user1CreatedFromGitHubInfoService"
            [ngClass]="{'winner': winner === user1CreatedFromGitHubInfoService?.login}">
            <div class="center">
                <h2 class="bigger-text">{{ user1CreatedFromGitHubInfoService.login }}</h2>
            </div>
            <div class="profile">
                <a [href]="'https://github.com/' + user1CreatedFromGitHubInfoService.login " target="_blank">
                    <img [src]="user1CreatedFromGitHubInfoService.avatar_url" alt="User 1 Profile Pic"
                        class="profile-pic">
                </a>
            </div>
            <div class="languagesAndDetails">
                <div class="details">
                    <p class="big-text">Repositories: {{ user1CreatedFromGitHubInfoService.public_repos }}</p>
                    <p class="big-text">Forks: {{ user1CreatedFromGitHubInfoService.forks }}</p>
                    <p class="big-text">Followers: {{ user1CreatedFromGitHubInfoService.followers }}</p>
                </div>
                <div class="languages">
                    <h3 class="big-text">Languages usage:</h3>
                    <ul>
                        <li *ngFor="let languageUsage of user1LanguageUsage" class="language-list">
                            {{ languageUsage.language }} ~ {{ languageUsage.count }}%
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="user-info right" *ngIf="user2CreatedFromGitHubInfoService"
            [ngClass]="{'winner': winner === user2CreatedFromGitHubInfoService?.login}">
            <div class="center">
                <h2 class="bigger-text">{{ user2CreatedFromGitHubInfoService.login }}</h2>
            </div>
            <div class="profile">
                <a [href]="'https://github.com/' + user2CreatedFromGitHubInfoService.login " target="_blank">
                    <img [src]="user2CreatedFromGitHubInfoService.avatar_url" alt="User 2 Profile Pic"
                        class="profile-pic">
                </a>
            </div>
            <div class="languagesAndDetails">
                <div class="details">
                    <p class="big-text">Repositories: {{ user2CreatedFromGitHubInfoService.public_repos }}</p>
                    <p class="big-text">Forks:{{ user2CreatedFromGitHubInfoService.forks}} </p>
                    <p class="big-text">Followers: {{ user2CreatedFromGitHubInfoService.followers }}</p>
                </div>
                <div class="languages">
                    <h3 class="big-text">Languages usage:</h3>
                    <ul>
                        <li *ngFor="let languageUsage of user2LanguageUsage" class="language-list">
                            {{ languageUsage.language }} ~ {{ languageUsage.count }}%
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>