.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .input-containers
  {
    display: flex;
    width: 100%;
    justify-content: space-evenly;

  }
  
  .input-container {
    display: flex;
    width: 350px;
    gap: 10px;
    margin-right: 0px;
  }
  .input-button {
    width: 200px;
  }
  
  .compare-button {
    align-self: center; 
    margin-top: 20px;
  }
  
  
  .profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10px auto;
    display: block;
  }

  .details p {
    margin:0px;
    padding-bottom:10px;
  }
  .user-container {
    display: flex;
    justify-content: center; 
    width: 100%;
    background-color: #0d1117; 
    border: 3px solid #010409;
    padding: 10px;
    margin-top: 20px; 
    color:whitesmoke;
  }
  .user-info {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    background-color: #010409; 
    color:whitesmoke;
    box-sizing: border-box;
    
  }
  .center {
    text-align: center;
  }

  .big-text {
    font-size: 24px;
  }
  .bigger-text {
    font-size: 36px;
  }
  
  
  .left {
    margin-right: 5px; /* Add spacing between user containers */
  }
  
  .right {
    margin-left: 5px; /* Add spacing between user containers */
  }
  .languages h3 {
   margin-top:  0;
   margin-bottom: 5 px;
  }  
  .language-list {
    font-weight: bold;
  }

  .languages ul {
    list-style: none;
    padding: 0;
   
  }
  
  .languages li {
    font-weight: bold;
    padding: 5px;
  }

  .languagesAndDetails
  {
    display: flex;
    justify-content: space-evenly;
  }
  
