.gitHubLogo {
    width: 70px; 
    height: 70px; 
    border-radius: 80%; 
    object-fit: cover; 
    margin-bottom: 5px; 
    background-color: rgb(228, 228, 228);
    margin-left: 10px;
  }
  
  h1 {
padding-top: 25px;
    font-size: 1.5rem;
    color: #e6ede5;
    font-family: colle;
    margin: 0px;
    margin-left: 10px;
  }
  .logo-container
  {
    display: flex;
  }